body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
.black-bg{
    background-color: #000000;
}
.header img{
    height: 29px;
    width: auto;
}
.header i{
    font-size: 22px;
    line-height: 30px;
}
.header a{
    display: block;
    color: #000;
}
.header a:hover{
    color: #000;
}
#hidden_element{
    display: none;
}
#hidden_bar{
    float: left;
    display: none;
}
#search_icon{
    display: none;
    float: left;
    padding-right: 24px;
}
.search-bar{
    width: 270px;
    height: 30px;
    border: 1px solid #ffffff;
    position: relative;
}
.search-bar-value{
    outline: none;
    border: none;
}
.search-bar-icon{
    position: absolute;
    right: 4%;
    bottom: 0
}
.mobile-search-bar-value{
    height: 43px;
    width: 85%;
    outline: none;
    border: none;
}
.mobile-search-bar-icon{
    height: 43px;
    width: 15%;
    font-size: 28px;
}
.mobile-search-bar-icon a{
    display: block;
    color: #000000;
}
.mobile-search-bar-icon a:hover{
    color: #000000;
}
.club-card .card-element{
    position: relative;
}
.club-card img{
    width: 100%;
}
.club-card .details{
    width: 93%;
    position: absolute;
    bottom: 15%;
}
.club-card a{
    display: inline-block;
    text-decoration: none !important;
    color: #ffffff;
}
.club-card a:hover{
    color: #ffffff;
}
.explore-card{
    position: relative !important;
}
.explore-card a{
    display: block;
    position: absolute;
    bottom: 4%;
    right: 12%;
    color: #000000;
}
.explore-card a:hover{
    color: #000000;
}
.explore-card img{
    width: 100%;
}
.explore-card .details {
    font-size: 14px;
    min-height: 65px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-indicators li {
    border-radius: 50%;
    width: 15px !important;
    height: 15px !important;
}
.carousel-heading{
    font-size: 29px;
}
.carousel-caption{
    text-transform: uppercase;
    margin-bottom: 130px;
}
.carousel-caption a{
    display: inline-block;
    text-decoration: none !important;
}
.mobile-web-icon{
    display: none;
}
.icon a{
    display: block;
}
.mobile-promotion{
    display: block;
}
.mobile-promotion img{
    width: 100%;
    height: 150px;
}
.desktop-promotion img{
    width: 100%;
    height: 150px;
}
.desktop-promotion{
    display: none;
}
.footer{
    font-size: 18px;
}
.footer a{
    display: block;
    text-decoration: none !important;
    color: #ffffff;
}
.footer a:hover{
    color: #ffffff;
}
.platform a{
    display: block;
}
 .platform i{
    font-size: 30px;
    color: #ffffff;
}
.footer .bottom{
    font-size: 15px;
    color: #c5c5c5;
}
hr{
    border-top: 1px solid #ffffff !important;
}
@media screen and (max-width: 576px) {
    .embed-video{
        padding: 0 !important;
    }
    .club-card .card-element{
        padding: 0;
    }
    .large-explore{
        display: none;
    }
    .large-carousel{
        display: none;
    }
    .mobile-web-icon{
        display: block;
    }
    .web-icon{
        display: none;
    }
}
@media screen and (min-width: 577px) and (max-width: 767px) {
    .large-carousel{
        display: none;
    }
    .mobile-explore{
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    #search_icon{
        display: block;
    }
    .mobile-search-bar{
        display: none;
    }
    .club-card .details{
        bottom: 0;
        top: 4%;
    }
    .mobile-explore{
        display: none;
    }
    .explore-card .details{
        min-height: 65px;
    }
    .large-carousel{
        display: none;
    }
    .carousel-heading{
        font-size: 55px;
    }
    .carousel-caption{
        margin-bottom: 280px;
    }
    .mobile-promotion{
        display: none;
    }
    .desktop-promotion{
        display: block;
    }
    .horizontal-line{
        display: none;
    }
}
@media screen and (min-width: 993px) and (max-width: 1199px) {
    #search_icon{
        display: block;
    }
    .mobile-search-bar{
        display: none;
    }
    .mobile-explore{
        display: none;
    }
    .explore-card .title{
        min-height: 70px;
    }
    .explore-card .details{
        min-height: 110px;
    }
    .carousel-heading{
        font-size: 67px;
    }
    .carousel-caption{
        margin-bottom: 20px;
    }
    .mobile-carousel{
        display: none;
    }
    .desktop-promotion{
        display: block;
    }
    .mobile-promotion{
        display: none;
    }
    .horizontal-line{
        display: block;
    }
}
@media screen and (min-width: 1200px) {
    #search_icon{
        display: block;
    }
    .mobile-search-bar{
        display: none;
    }
    .club-card .details{
        bottom: 30%;
    }
    .mobile-explore{
        display: none;
    }
    .explore-card .details{
        min-height: 90px;
    }
    .carousel-heading{
        font-size: 60px;
    }
    .carousel-caption{
        margin-bottom: 80px;
    }
    .mobile-carousel{
        display: none;
    }
    .mobile-promotion{
        display: none;
    }
    .desktop-promotion{
        display: block;
    }
    .horizontal-line{
        display: none;
    }
}
@media screen and (min-width: 1600px) {
    .carousel-heading{
        font-size: 80px;
    }
    .carousel-caption{
        margin-bottom: 150px;
    }
}